<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.js"></script>
        <!-- Add this to <head> -->

        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.css" />

        <!-- see https://bootstrap-vue.org/docs/icons for icons -->
        <!-- Load polyfills to support older browsers -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <script src="https://unpkg.com/jquery@latest/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/bootstrap@latest/dist/js/bootstrap.min.js"></script>

        <!-- Load the following for BootstrapVueIcons support -->
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

        <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
        <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

        <script src="jsonpath-0.8.0.js"></script>

    </head>
    <body>
        <div id="app">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="#">Kochbuch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="mainmenu" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./recipe.html">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./edit.html">Bearbeiten</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Organisation
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" @click="newRecipe"><b-icon-file-earmark-plus></b-icon-file-earmark-plus> Neues Rezept</a>
                        <a class="dropdown-item" href="#" @click="deleteSelected"><b-icon-trash></b-icon-trash> Rezept löschen</a>
                        <a class="dropdown-item" href="#" @click="loadSample"><b-icon-file-earmark-text></b-icon-file-earmark-text> Beispielrezept</a>

                        <a class="dropdown-item" href="#" @click="saveRecipeAsFile"><b-icon-file-earmark-arrow-down></b-icon-file-earmark-arrow-down> Rezept exportieren</a>
                        <a class="dropdown-item" href="#" @click="realFileBtn.click()"><b-icon-file-earmark-arrow-up></b-icon-file-earmark-arrow-up> Rezept importieren</a>
                        

                        <a class="dropdown-item" href="#" @click="saveCookbookAsFile"><b-icon-journal-arrow-down></b-icon-journal-arrow-down> Kochbuch exportieren</a>
                        <a class="dropdown-item" href="#"><b-icon-journal-arrow-up></b-icon-journal-arrow-up> Kochbuch importieren</a>
                        <a class="dropdown-item" href="#" @click="saveToLocalStorage"><b-icon-archive-fill></b-icon-archive-fill> Speichern</a>
                       </div>
                      </li>
                </ul>
                <form class="form-inline">
                    <b-form-select class="form-control mr-sm-2" v-model.number="selected" :options="recipes_list"></b-form-select>
                </form>      
            </div>
          </nav>
          <b-container> 
            <b-form-datalist id="ingredient-units-list" :options="ingredient_units"></b-form-datalist>
            <h1>Rezepte</h1>
            <form class="form-inline">
                <b-form-select class="form-control mr-sm-2" v-model.number="selected" :options="recipes_list"></b-form-select>
                <b-button @click="deleteSelected"><b-icon icon="trash"></b-icon></b-button>
            </form>   
            <h2>General</h2>

            <b-container fluid>
              <b-row class="my-1">
                <b-col sm="2">
                  <label for="input-name">Title:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="input-name" size="sm" placeholder="Enter a name" v-model="recipes[selected].recipe_name"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="my-1">
                <b-col sm="2">
                  <label for="input-yields">Yields:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="input-yields" size="sm" placeholder="Enter a name" v-model="yields_unit"></b-form-input>
                  <b-form-input id="input-yields-value" size="sm" placeholder="Enter a name" v-model.number="yields_value"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="my-1">
                <b-col sm="2">
                  <label for="input-recalc_exp">Umrechnungsexponent:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="input-recalc_exp" type="number" min="1" step="1" size="sm" placeholder="1" v-model.number="recipes[selected].recalc_exp"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="my-1">
                <b-col sm="2">
                  <label for="input-name">Subtitle:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="input-name" size="sm" placeholder="Enter a name" v-model="recipes[selected].subtitle"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="my-1">
                <b-col sm="2">
                  <label for="input-name">Image:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="input-name" size="sm" placeholder="Enter a name" v-model="recipes[selected].imageurl"></b-form-input>
                </b-col>
              </b-row>
      
            </b-container>
            <h2>Ingredients</h2>
            <draggable v-model="recipes[selected].ingredients" draggable=".drag-ingredient-item">
                <div v-for="(ingredient, index) in recipes[selected].ingredients" class="drag-ingredient-item" :key="index">
                  
                  <div v-for="(value, name) in ingredient" :key="name">
                    <b-form-row> 
                    <b-col sm="3">{{name}}</b-col>
                    <b-col sm="1"><b-form-input number v-model="value.amounts[0].amount"></b-form-input></b-col>
                    <b-col sm="3"><b-form-input list="ingredient-units-list" v-model="value.amounts[0].unit"></b-form-input></b-col>
                    <b-col sm="3"><b-button @click="recipes[selected].ingredients.splice(index, 1)"><b-icon icon="trash"></b-icon></b-button> 
                                  <b-button v-b-toggle="'notes-ingredient-' + index"><b-icon icon="chat-square-text"></b-icon></b-button>
                    </b-col> 
                    </b-form-row> 
                    <b-collapse :id="'notes-ingredient-' + index"> 
                      <b-form-row> 
                        <b-col offset="1" sm="1">Notizen</b-col>
                        <b-col sm="10">
                          <b-form-row v-for="(note, index) in value.notes" :key="index">
                            <b-col sm="8"><b-form-input v-model="value.notes[index]"></b-form-input></b-col>
                            <b-col sm ="1"><b-button @click="value.notes.splice(index, 1)"><b-icon icon="trash"></b-icon></b-button></b-col> 
                          </b-form-row>
                          <b-form-row>
                            <b-button @click="value.notes.push('Neue Notiz')"><b-icon icon="plus"></b-icon></b-button>
                          </b-form-row>
                        </b-col>
                      </b-form-row>
                    </b-collapse>
                </div>
                </div>
              </draggable>
            <h2>Steps</h2>
            <draggable v-model="recipes[selected].steps" draggable=".drag-step-item">
                <b-form-row v-for="(step, index) in recipes[selected].steps" class="drag-step-item">
                  <b-col col="11"><b-form-input v-model="step.step"></b-form-input></b-col>
                  <b-col col="1"><b-button @click="recipes[selected].steps.splice(index, 1)"><b-icon icon="trash"></b-icon></b-button></b-col>
                </b-form-row>
            </draggable>
              <b-form-row>
                <b-button @click="recipes[selected].steps.push({step:'Neuer Schritt'})"><b-icon icon="plus"></b-icon></b-button>
              </b-form-row>
            <h2>Code</h2>
            <b-form-row>
              <b-form-textarea readonly rows="10" :value="yaml"></b-form-textarea>
            </b-form-row>
            
            <b-collapse id="collapse-file-upload">
              <b-form-file hidden="hidden" id="realFileBtn" @change="loadFromFile" v-model="file" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..." accept=".yaml"></b-form-file>
            </b-collapse>
          </b-container>
        </div>

        
        <script src="my-cookbook.js"></script>
    </body>
</html>