<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.js"></script>
    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.css" />

    <!-- see https://bootstrap-vue.org/docs/icons for icons -->
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://unpkg.com/jquery@latest/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap@latest/dist/js/bootstrap.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

    <script src="jsonpath-0.8.0.js"></script>

    <link type="text/css" rel="stylesheet" href="my-cookbook.css" />
    <title>Kochbuch: Pfannkuchen</title>

    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rezepte">
    <meta name="apple-mobile-web-app-title" content="Rezepte">
    <meta name="msapplication-starturl" content="https://cookbook.cehser.de/recipe.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
    <link rel="apple-touch-icon" href="/favicon180x180.png" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">Kochbuch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainmenu" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link active" href="./recipe.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./edit.html">Bearbeiten</a>
            </li>
          </ul>
          <form class="form-inline">
            <b-form-select class="form-control mr-sm-2" v-model.number="selected" :options="recipes_list"></b-form-select>
          </form>    
        </div>
      </nav>
      <div class="wrapper">
        <div id="steps" class="card rounded-0">
          <div id="collapesebutton" class="ml-auto">
            <div class="fs-3 mb-3">
              <button class="btn rounded-0 shadow-none" type="button" data-toggle="collapse" data-target="#ingredients" aria-expanded="false" aria-controls="ingredients">
                <b-icon id="arrow-ing" icon="arrow-right-square-fill"  variant="dark" font-scale="1.5"></b-icon>
              </button>
            </div>
          </div>
          <div id="recipe_title_container">
            <img class="card-img-top rounded-0" id="recipe_img" :src="current_recipe.imageurl" alt="Card image cap">
            <div class="card-body" id="recipe_title">
              <h2 class="card-title d-flex flex-row flex-wrap justify-content-between">
                <div>
                  {{current_recipe.recipe_name}}
                </div>
              </h2>
              <p class="card-text">{{current_recipe.subtitle}}</p>
            </div>
          </div>
          <div class="card-body">
            <h3>Zubereitung</h3>
            <div v-for="section in current_recipe.sections">
              <h4>{{ section.section }}</h4>
              <ol class="list-group list-group-numbered list-group-flush">
                <li class="list-group-item" v-for="(step, index) in (current_recipe.steps.filter(x => x.section == section.section))" :key="index" @click="selectStep">
                  {{step.step}} 
                </li>
              </ol>
            </div>
          </div>
          
        </div>
        <div id="ingredients" class="w-25 collapse show width card rounded-0" v-model="current_recipe">
          <div class="card-header">  
            <h3 class="card-title">Zutaten</h3>
            <div class="card-subtitle">für {{yields_value | formatNumbers}} {{yields_unit}}</div>
          </div>
          <div class="card-body" v-model="ingredients">
            <div v-for="section in current_recipe.sections">
              <h4>{{ section.section }}</h4>
              <div class="row" v-for="(ingredient, index) in (current_recipe.ingredients.filter(x => x.section == section.section))" :key="index">
                <div class="col-4">
                  {{ingredient[Object.keys(ingredient)[0]].amounts[0].amount | formatNumbers}} {{ingredient[Object.keys(ingredient)[0]].amounts[0].unit}}
                </div>  
                <div class="col-8">
                  {{Object.keys(ingredient)[0]}}
                </div>  
              </div>
            </div>
            <p>
              <h5 class="card-title">Umrechnen</h5>
              <div class="input-group">
                <input type="number" min="0" v-model.number="yields_value" step=".1" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing">
                <div class="input-group-append">
                  <span class="input-group-text" id="inputGroup-sizing">{{yields_unit}}</span>
                  
                </div>
              </div>
            </p>   
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>

      <script>
        //Pfeil-Button soll rotieren
        window.onload = function () {
          $('#ingredients').on('hide.bs.collapse', function () {
            $("#arrow-ing").addClass("rotate180");
            $("#steps").addClass("full");
          });
          $('#ingredients').on('show.bs.collapse', function () {
            $("#arrow-ing").removeClass("rotate180");
            $("#steps").removeClass("full");
          });
        }
      </script>
      <script src="my-cookbook.js"></script>
    </div>
  </body>
</html>


